# 환경변수 (절대 커밋 금지)
.env

# 원시 데이터 (용량 큼 - GitHub LFS 또는 제외)
data/raw/

# 파이썬
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# 주피터
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
